body{
    /*background-color: #7a8b9d*/
    background-color: #7a8b9d
}

.A_box{
    float: left;
    width: 210px;
    /*height: 600px;*/
    text-align:center;
    margin: 2px 0px 2px 2px;
}

.B_box{
    float: left;
    margin: 2px 2px 2px 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 180px;
    /*height: 65px;*/
    text-align:center;
    border: 1px solid white;
    line-height: 10px;
    font-size: 95%;
}
    
.C_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 198px;
    /*height: 239px;*/
    text-align:center;
    line-height: 12px;
}

.C1_box{
    float: left;
    margin: 4px 0px 2px 4px;
    border: 3px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 424px;
    /*height: 586px;*/
    text-align:left;
}    

.D_box{
    float: left;
    width: 208px;
    /*height: 630px;*/
    margin: 2px 0px 2px 2px;
    font-size: 95%;
}

.E_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    /*height: 250px;*/
    text-align:center;
    font-size: 95%;
    line-height: 10px;
}

.F_box{
    float: left;
    margin: 2px;
    width: 170px;
    /*height: 595px;*/
    margin: 2px 2px 2px 2px;
}

.G_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    /*height: 275px;*/
    text-align:center;
    line-height: 10px;
}

.H_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 198px;
    /*height: 100px;*/
    text-align:center;
    line-height: 12px;
}	

.I_box{
    float: left;
    margin: 2px 2Px 2px 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 160px;
    /*height: 50px;*/
    text-align:center;
    border: 1px solid white;
    line-height: 20px;
}

.M_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    /*height: 210px;*/
    text-align:center;
    line-height: 12px;
}  

.N_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    text-align: center;
    line-height: 12px;
    font-size: 95%;
}

.O_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 180px;
    /*height: 255px;*/
    text-align:center;
    line-height: 15px;
}  

.P_box{
    float: left;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    /*height: 170px;*/
    text-align:center;
    line-height: 15px;
}  
    
.Q_box{
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    width: 192px;
    /*height: 17px;*/
}

.R_box{
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;
    width: 192px;
    /*height: 17px;*/
}

.S_box{
    margin: 2px 2px 2px 2px;
    border: 2px solid white;
    border-radius: 2px;
    width: 800px;
    /*height: 200px;*/
}
    
.button{
    border-radius: 2px;
    background-color: #5c6976;
    border: 1px;
    color: #FFFFFF;
    text-align: center;
    font-family: Calibri;	
    font-size: 12px;
    padding: 2px;
    width: 155px;
    height: 45px;
    margin: 2px;
    cursor: pointer;
}


h1{
    font-size: 90%;
    margin: 1Px;
}

h2{
    font-size:110%;
    margin: 1Px;
}

h3{
    font-size: 130%;
    margin: 1Px;
}		

#myProgress{
    border-radius: 2px;
    width: 100%;
    background-color: #5c6976;
}

#myBar{
    width: 1%;
    height: 15px;
    border-radius: 2px;
    background-color: #0BB950;
}

#myProgress2{
    border-radius: 2px;
    width: 100%;
    background-color: #5c6976;
}

#myBar2{
    width: 1%;
    height: 15px;
    border-radius: 2px;
    background-color: #4D89F2;
}

#myProgress3{
    border-radius: 2px;
    width: 100%;
    background-color: #5c6976;
}

#myBar3{
    width: 1%;
    height: 15px;
    border-radius: 2px;
    background-color: #CC5;
}

#myProgress4{
    border-radius: 2px;
    width: 100%;
    background-color: #5c6976;
}

#myBar4{
    width: 1%;
    height: 15px;
    border-radius: 2px;
    background-color: #4D89F2;
}
/* Da qui in poi roba ricontrollata*/

.gaugetext{
    font-size: large;
    font-weight: bold;
}




.container{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid transparent;
    border-radius: 2px
}

.esterno{
    /*width: 100%;*/
    margin: 1px;
    text-align: center;
    border: 3px solid black;
    border-radius: 2px;
    margin: 2px;
    padding-right: 6px;
}

.interno{
    /*width: 100%;*/
    margin: 1px;
    text-align: center;
    border: 3px solid black;
    border-radius: 2px
}

.elettrico{
    /*width: 100%;*/
    margin: 1px;
    text-align: center;
    border: 3px solid black;
    border-radius: 2px
}

.server{
    /*width: 100%;*/
    margin: 1px;
    text-align: center;
    border: 3px solid black;
    border-radius: 2px
}

.pannello{
    width: 100%;
    margin: 1px;
    text-align: center;
}

.boxnew{
    float: left;
    width: 200px;
    text-align: center;
    line-height: 12px;
    font-size: 95%;
    margin: 2px;
    padding: 2px;
}

.loadingbar{
    margin: 2px;
    border: 1px solid black;
    border-radius: 2px;
    width: 192px;
    /*height: 17px;*/
}

.withborder{
    border: 1px solid black;
    border-radius: 2px;
    margin-right: unset;
    margin-left: unset;
    padding-right: unset;
    padding-left: unset;
    /*box-shadow: 9px 10px 5px -4px rgba(186,186,186,1);*/
}

.ultimariga{
    padding-bottom: 5px;
}

.rainfalltesto{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.buttonbox{
    float: left;
    margin: 2px 2Px 2px 2px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
    width: 200px;
    /*height: 50px;*/
    text-align:center;
    border: 1px solid white;
    line-height: 20px;
}

h3{
    padding-left: 5px;
}